@model IEnumerable<Elazone.Models.Products>

@{
    foreach (var item in Model)
    {

    <div class="col-md-3 single-smartphone">
        <a class="text-center" asp-action="PhoneDetails" asp-controller="Smartphones" asp-route-id="@item.ID">
            <img src="~/images/products/@item.ImageUrl" />
            <a class="text-center" asp-action="PhoneDetails" asp-controller="Smartphones" asp-route-id="@item.ID">@item.Brand&nbsp;@item.Model&nbsp;@item.MemoryInternal GB&nbsp;@item.Color</a>
            <p class="text-center">@item.Price$</p>
            </a>
    </div>
    }

}