
@model IEnumerable<Elazone.Models.Products>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #c-item {
        display: none;
    }
</style>
<div style="background-color: rgb(22, 55, 136);" id="mySideFilterLaptop" class="d-lg-none d-block sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeFilterLaptop()">&times;</a>
    <div class="categories-filter mt-5">
        <h4>Brands</h4>

        <ul class="filter-container">

            <li>
                <label>
                    <input id="rb1" value="Apple" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                    Apple
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input id="rb2" value="Samsung" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                    Samsung
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="rb3" value="Asus" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                    Asus
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>

                    <input id="rb4" value="Hp" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                    Hp
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>

                    <input id="rb5" value="Lenovo" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                    Lenovo
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>

                    <input id="rb5" value="Dell" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                    Dell
                    <span class="magnitude">(3)</span>

                </label>
            </li>

        </ul>
    </div>

    <div class="categories-filter mt-5">
        <h4>Color</h4>
        <ul class="filter-container">

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input id="color1" value="Black" type="checkbox" name="Color" class="ColorOfProduct">
                    Black
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input id="color2" value="White" type="checkbox" name="Color" class="ColorOfProduct">
                    White
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input id="color3" value="Green" type="checkbox" name="Color" class="ColorOfProduct">
                    Green
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input id="color4" value="Red" type="checkbox" name="Color" class="ColorOfProduct">
                    Red
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span class=""></span>

                    <input id="color5" value="Blue" type="checkbox" name="Color" class="ColorOfProduct">
                    Blue
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span class=""></span>

                    <input id="color6" value="Gold" type="checkbox" name="Color" class="ColorOfProduct">
                    Gold
                </label>
            </li>

        </ul>
    </div>

    <div class="categories-filter mt-5">
        <h4>Price</h4>
        <ul class="filter-container">

            <li>
                <label>
                    <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="50" asp-route-id2="200">
                        50$-200$
                        <span class="magnitude">(3)</span>
                    </a>
                </label>
            </li>

            <li>
                <label>


                    <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="200" asp-route-id2="500">
                        200$-500$
                        <span class="magnitude">(3)</span>
                    </a>
                </label>
            </li>

            <li>
                <label>


                    <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="500" asp-route-id2="750">
                        500$-750$
                        <span class="magnitude">(3)</span>
                    </a>
                </label>
            </li>

            <li>
                <label>


                    <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="750" asp-route-id2="1000">
                        750$-1000$
                        <span class="magnitude">(3)</span>
                    </a>
                </label>
            </li>

            <li>
                <label>


                    <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="1000" asp-route-id2="2000">
                        1000$-2000$
                        <span class="magnitude">(3)</span>
                    </a>
                </label>
            </li>

        </ul>
        <form class="ml-3 filter-custom-price" method="get" asp-controller="Smartphones" asp-action="FilterByPrice">
            <input name="val1" id="val1" type="number" placeholder="Min $" />
            <input name="val2" id="val2" type="number" placeholder="Max $" />
            <input type="submit" name="Search" />
        </form>
    </div>

    <div class="categories-filter mt-5">
        <h4>Ram</h4>
        <ul class="filter-container">
            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="ram1" value="512" type="checkbox" name="Ram" class="RamOfProduct">
                    512Mb
                    <span class="magnitude">(0)</span>

                </label>
            </li>
            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="ram2" value="1" type="checkbox" name="Ram" class="RamOfProduct">
                    1GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="color1" value="2" type="checkbox" name="Ram" class="RamOfProduct">
                    2GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="ram3" value="4" type="checkbox" name="Ram" class="RamOfProduct">
                    4GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="ram4" value="6" type="checkbox" name="Ram" class="RamOfProduct">
                    6GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>
        </ul>
    </div>

    <div class="categories-filter mt-5">
        <h4>Memory</h4>
        <ul class="filter-container">
            <li>
                <label>


                    <input id="memory1" value="16" type="checkbox" name="Memory" class="MemoryOfProduct">
                    16GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="memory2" value="32" type="checkbox" name="Memory" class="MemoryOfProduct">
                    32GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="memory3" value="64" type="checkbox" name="Memory" class="MemoryOfProduct">
                    64GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="memory4" value="128" type="checkbox" name="Memory" class="MemoryOfProduct">
                    128GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="memory5" value="256" type="checkbox" name="Memory" class="MemoryOfProduct">
                    256GB
                    <span class="magnitude">(3)</span>

                </label>
            </li>

        </ul>
    </div>

    <div class="categories-filter mt-5">
        <h4>Processor</h4>
        <ul class="filter-container">
            <li>
                <label>


                    <input id="processor1" value="AMD" type="checkbox" name="Processor" class="MemoryOfProduct">
                    AMD
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="processor2" value="IntelPentium" type="checkbox" name="Processor" class="MemoryOfProduct">
                    Intel Pentium
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="processor3" value="IntelCeleron" type="checkbox" name="Processor" class="MemoryOfProduct">
                    Intel Celeron
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="processor4" value="Corei3" type="checkbox" name="Processor" class="MemoryOfProduct">
                    Intel Core i3
                    <span class="magnitude">(3)</span>

                </label>
            </li>

            <li>
                <label>


                    <input id="processor5" value="Corei5" type="checkbox" name="Processor" class="MemoryOfProduct">
                    Intel Core i5
                    <span class="magnitude">(3)</span>

                </label>
            </li>
            <li>
                <label>


                    <input id="processor6" value="Corei9" type="checkbox" name="Processor" class="MemoryOfProduct">
                    Intel Core i7
                    <span class="magnitude">(3)</span>

                </label>
            </li>

        </ul>
    </div>

    <div class="categories-filter mt-5">
        <h4>Nuclear Number</h4>
        <ul class="filter-container">
            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="core2" value="2" type="checkbox" name="Core" class="CoreOfProduct">
                    2
                    <span class="magnitude">(0)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="core4" value="4" type="checkbox" name="Core" class="CoreOfProduct">
                    4
                    <span class="magnitude">(0)</span>

                </label>
            </li>

            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="core6" value="6" type="checkbox" name="Core" class="CoreOfProduct">
                    6
                    <span class="magnitude">(0)</span>

                </label>
            </li>
            <li>
                <label>
                    <span>

                        <span class="ps-shown-by-js"></span>
                    </span>

                    <input input id="core8" value="8" type="checkbox" name="Core" class="CoreOfProduct">
                    8
                    <span class="magnitude">(0)</span>

                </label>
            </li>

        </ul>
    </div>
</div>
<span class="p-1 mobile-menu-icon d-lg-none d-block" style="background-color: transparent; font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 5.7em;" onclick="openFilterLaptop()"><i class="mdi mdi-filter-menu-outline"></i></span>
<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="d-none d-lg-block col-lg-3 col-md-3 col-sm-12 filters-side">
                <div class="categories-filter mt-5">
                    <h4>Brands</h4>

                    <ul class="filter-container">

                        <li>
                            <label>
                                <input id="rb1" value="Apple" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                                Apple
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input id="rb2" value="Samsung" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                                Samsung
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="rb3" value="Asus" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                                Asus
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>

                                <input id="rb4" value="Hp" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                                Hp
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>

                                <input id="rb5" value="Lenovo" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                                Lenovo
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>

                                <input id="rb5" value="Dell" type="checkbox" name="brand" href="#" class="BrandOfProduct">
                                Dell
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                    </ul>
                </div>

                <div class="categories-filter mt-5">
                    <h4>Color</h4>
                    <ul class="filter-container">

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input id="color1" value="Black" type="checkbox" name="Color" class="ColorOfProduct">
                                Black
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input id="color2" value="White" type="checkbox" name="Color" class="ColorOfProduct">
                                White
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input id="color3" value="Green" type="checkbox" name="Color" class="ColorOfProduct">
                                Green
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input id="color4" value="Red" type="checkbox" name="Color" class="ColorOfProduct">
                                Red
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span class=""></span>

                                <input id="color5" value="Blue" type="checkbox" name="Color" class="ColorOfProduct">
                                Blue
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span class=""></span>

                                <input id="color6" value="Gold" type="checkbox" name="Color" class="ColorOfProduct">
                                Gold
                            </label>
                        </li>

                    </ul>
                </div>

                <div class="categories-filter mt-5">
                    <h4>Price</h4>
                    <ul class="filter-container">

                        <li>
                            <label>
                                <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="50" asp-route-id2="200">
                                    50$-200$
                                    <span class="magnitude">(3)</span>
                                </a>
                            </label>
                        </li>

                        <li>
                            <label>


                                <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="200" asp-route-id2="500">
                                    200$-500$
                                    <span class="magnitude">(3)</span>
                                </a>
                            </label>
                        </li>

                        <li>
                            <label>


                                <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="500" asp-route-id2="750">
                                    500$-750$
                                    <span class="magnitude">(3)</span>
                                </a>
                            </label>
                        </li>

                        <li>
                            <label>


                                <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="750" asp-route-id2="1000">
                                    750$-1000$
                                    <span class="magnitude">(3)</span>
                                </a>
                            </label>
                        </li>

                        <li>
                            <label>


                                <a asp-controller="Smartphones" asp-action="FilterByPrice" asp-route-id1="1000" asp-route-id2="2000">
                                    1000$-2000$
                                    <span class="magnitude">(3)</span>
                                </a>
                            </label>
                        </li>

                    </ul>
                    <form class="ml-3 filter-custom-price" method="get" asp-controller="Smartphones" asp-action="FilterByPrice">
                        <input name="val1" id="val1" type="number" placeholder="Min $" />
                        <input name="val2" id="val2" type="number" placeholder="Max $" />
                        <input type="submit" name="Search" />
                    </form>
                </div>

                <div class="categories-filter mt-5">
                    <h4>Ram</h4>
                    <ul class="filter-container">
                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="ram1" value="512" type="checkbox" name="Ram" class="RamOfProduct">
                                512Mb
                                <span class="magnitude">(0)</span>

                            </label>
                        </li>
                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="ram2" value="1" type="checkbox" name="Ram" class="RamOfProduct">
                                1GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="color1" value="2" type="checkbox" name="Ram" class="RamOfProduct">
                                2GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="ram3" value="4" type="checkbox" name="Ram" class="RamOfProduct">
                                4GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="ram4" value="6" type="checkbox" name="Ram" class="RamOfProduct">
                                6GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>
                    </ul>
                </div>

                <div class="categories-filter mt-5">
                    <h4>Memory</h4>
                    <ul class="filter-container">
                        <li>
                            <label>


                                <input id="memory1" value="16" type="checkbox" name="Memory" class="MemoryOfProduct">
                                16GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="memory2" value="32" type="checkbox" name="Memory" class="MemoryOfProduct">
                                32GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="memory3" value="64" type="checkbox" name="Memory" class="MemoryOfProduct">
                                64GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="memory4" value="128" type="checkbox" name="Memory" class="MemoryOfProduct">
                                128GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="memory5" value="256" type="checkbox" name="Memory" class="MemoryOfProduct">
                                256GB
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                    </ul>
                </div>

                <div class="categories-filter mt-5">
                    <h4>Processor</h4>
                    <ul class="filter-container">
                        <li>
                            <label>


                                <input id="processor1" value="AMD" type="checkbox" name="Processor" class="MemoryOfProduct">
                                AMD
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="processor2" value="IntelPentium" type="checkbox" name="Processor" class="MemoryOfProduct">
                                Intel Pentium
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="processor3" value="IntelCeleron" type="checkbox" name="Processor" class="MemoryOfProduct">
                                Intel Celeron
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="processor4" value="Corei3" type="checkbox" name="Processor" class="MemoryOfProduct">
                                Intel Core i3
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                        <li>
                            <label>


                                <input id="processor5" value="Corei5" type="checkbox" name="Processor" class="MemoryOfProduct">
                                Intel Core i5
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>
                        <li>
                            <label>


                                <input id="processor6" value="Corei9" type="checkbox" name="Processor" class="MemoryOfProduct">
                                Intel Core i7
                                <span class="magnitude">(3)</span>

                            </label>
                        </li>

                    </ul>
                </div>

                <div class="categories-filter mt-5">
                    <h4>Nuclear Number</h4>
                    <ul class="filter-container">
                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="core2" value="2" type="checkbox" name="Core" class="CoreOfProduct">
                                2
                                <span class="magnitude">(0)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="core4" value="4" type="checkbox" name="Core" class="CoreOfProduct">
                                4
                                <span class="magnitude">(0)</span>

                            </label>
                        </li>

                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="core6" value="6" type="checkbox" name="Core" class="CoreOfProduct">
                                6
                                <span class="magnitude">(0)</span>

                            </label>
                        </li>
                        <li>
                            <label>
                                <span>

                                    <span class="ps-shown-by-js"></span>
                                </span>

                                <input input id="core8" value="8" type="checkbox" name="Core" class="CoreOfProduct">
                                8
                                <span class="magnitude">(0)</span>

                            </label>
                        </li>

                    </ul>
                </div>


                <div class="banner-of-smartphones mt-5">
                    <img src="/images/banner4.jpg" alt="">
                </div>

            </div>

            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 mt-5">

                <div class="row">
                    <header class="d-none d-lg-block col-md-12 col-lg-12 col-xs-12 col-sm-12 header-of-smartphones">
                        <h3>NOTEBOOKS</h3>
                        <img src="~/images/notebooks/notebook-1.png" alt="smartphone-banner">

                    </header>
                    <div class="d-none d-lg-flex mt-5  filter-header-of-smartphone-products col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="left-side-of-smartphone-products-header">

                            <span>There are 20 products.</span>
                        </div>
                        <div class="right-side-of-smartphone-products-header">
                            <span>Short by</span>
                            <select class="filter-lowhigh" name="filter-smartphone" id="filter-smartphone">
                                <option>Select Filter</option>
                                <option value="1">Price,low to high</option>
                                <option value="2">Price,high to low</option>
                            </select>
                        </div>

                    </div>
                    <div id="smartphone-products" class="row smartphone-products">

                    </div>
                    <div class="pagination">
                        <a class="pagNumber d-none" value=""></a>
                        @{
                            int counter = 0;

                            for (int i = 1; i < Model.Count(); i++)
                            {
                                if (i % 10 == 0)
                                {
                                    counter++;

                                    <a class="pag" value="@counter">@counter</a>
                                }

                            }
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>

        let BrandMassiv = [];

        let ColorMassiv = [];

        let RamMassiv = [];

        let MemoryMassiv = [];

        let ProcessorMassiv = [];

        let CoreMassiv = [];

        let BrandCount = 0;

        let ColorCount = 0;

        let RamCount = 0;

        let memoryCount = 0;

        let ProcessorCount = 0;

        let CoreCount = 0;

        let countSum = BrandCount + ColorCount + RamCount + memoryCount + ProcessorCount;


        $("input[name=brand]").change(function () {

            let val1 = $(this).val().toString();

            let index = BrandMassiv.indexOf(val1);


            if (this.checked) {

                BrandCount++;
                countSum++;

                BrandMassiv.push(val1);
                console.log(BrandMassiv);

            }
            else {

                if (index > -1) {
                    BrandMassiv.splice(index, 1);

                }
                BrandCount--;
                countSum--;
                console.log(BrandMassiv);

                //alert("unchecked");
                //    $.ajax({
                //     method: "GET",
                //    url: "/Smartphones/SingleFilter",
                //    data: { brand: BrandMassiv },
                //     traditional:true,
                //     success: function (result) {
                //        $(".smartphone-products").html(result);
                //    }
                //});
            }
        });

        $("input[name=Color]").change(function () {

            let val1 = $(this).val().toString();

            let index = ColorMassiv.indexOf(val1);


            if (this.checked) {

                ColorCount++;
                countSum++;

                ColorMassiv.push(val1);
                console.log(ColorMassiv);

            }
            else {

                if (index > -1) {
                    ColorMassiv.splice(index, 1);
                }
                ColorCount--;
                countSum--;
                console.log(ColorMassiv);

            }
        });

        $("input[name=Ram]").change(function () {

            let val1 = $(this).val().toString();

            let index = RamMassiv.indexOf(val1);


            if (this.checked) {

                RamCount++;
                countSum++;

                RamMassiv.push(val1);
                console.log(RamMassiv);

            }
            else {

                if (index > -1) {
                    RamMassiv.splice(index, 1);
                }
                RamCount--;
                countSum--;
                console.log(RamMassiv);

            }
        });

        $("input[name=Memory]").change(function () {

            let val1 = $(this).val().toString();

            let index = MemoryMassiv.indexOf(val1);


            if (this.checked) {

                memoryCount++;
                countSum++;

                MemoryMassiv.push(val1);
                console.log(RamMassiv);

            }
            else {

                if (index > -1) {
                    MemoryMassiv.splice(index, 1);
                }
                memoryCount--;
                countSum--;
                console.log(MemoryMassiv);

            }
        });

        $("input[name=Processor]").change(function () {

            let val1 = $(this).val().toString();

            let index = ProcessorMassiv.indexOf(val1);


            if (this.checked) {

                ProcessorCount++;
                countSum++;

                ProcessorMassiv.push(val1);
                console.log(ProcessorMassiv);

            }
            else {

                if (index > -1) {
                    ProcessorMassiv.splice(index, 1);
                }
                ProcessorCount--;
                countSum--;
                console.log(ProcessorMassiv);

            }
        });

        $("input[name=Core]").change(function () {

            let val1 = $(this).val().toString();

            let index = CoreMassiv.indexOf(val1);


            if (this.checked) {

                CoreCount++;
                countSum++;

                CoreMassiv.push(val1);
                console.log(CoreMassiv);

            }
            else {

                if (index > -1) {
                    CoreMassiv.splice(index, 1);
                }
                CoreCount--;
                countSum--;
                console.log(CoreMassiv);

            }
        });




        $("input[type=checkbox]").change(function () {

            ///////////////////////// BRAND SINGLE FILTER///////////////////////////////////

            let pagNumber = $(".pagNumber").text();

            if (BrandCount == 1 || BrandCount > 1) {
                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { brand: BrandMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }


            ////////////////////////// COLOR SINGLE FILTER//////////////////////////////////

            if (ColorCount == 1 || ColorCount > 1) {
                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { color: ColorMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }


            ///////////////////////// RAM SINGLE FILTER///////////////////////////////////

            if (RamCount == 1 || RamCount > 1) {
                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { ram: RamMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }

            ///////////////////////// MEMORY SINGLE FILTER///////////////////////////////////

            if (memoryCount == 1 || memoryCount > 1) {
                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { memoryValue: MemoryMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }

            ///////////////////////// PROCESSOR SINGLE FILTER///////////////////////////////////

            if (ProcessorCount == 1 || ProcessorCount > 1) {
                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { processor: ProcessorMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }

            ///////////////////////// CORE SINGLE FILTER///////////////////////////////////

            if (CoreCount == 1 || CoreCount > 1) {
                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { core: CoreMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }


            /////////////////////////////MULTI FILTER///////////////////////////////



            if (BrandCount > 0 && ColorCount > 0 || RamCount > 0) {

                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/MultipleFilter",
                    data: { brand: BrandMassiv, color: ColorMassiv, ram: RamMassiv, id: pagNumber },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }


        });


    </script>
    <script>

        $(".filter-lowhigh").change(function () {

            let val = $(this).val();

            $.ajax({
                method: "GET",
                url: "/NotebooksAndComputers/FilterPrice",
                data: { id: val, page: val },
                traditional: true,
                success: function (result) {
                    $(".smartphone-products").html(result);
                }
            });

        });

    </script>
    <script>

        $(".pag").click(function () {

            let val = $(this).attr("value");

            let pagNumber = $(".pagNumber").text(val);

            let pag = $(".pagNumber").text();

            if (BrandCount == 0 && ColorCount == 0 && RamCount == 0 && memoryCount == 0) {

                $.ajax({
                    method: "GET",
                    data: { id: val },
                    url: "/NotebooksAndComputers/Paged",
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });
            }

            if (BrandCount == 1 || BrandCount > 1) {

                $.ajax({
                    method: "GET",
                    url: "/NotebooksAndComputers/SingleFilter",
                    data: { brand: BrandMassiv, id: pag },
                    traditional: true,
                    success: function (result) {
                        $(".smartphone-products").html(result);
                    }
                });

            }



        });



        $.ajax({
            method: "GET",
            url: "/NotebooksAndComputers/Paged",
            traditional: true,
            success: function (result) {
                $(".smartphone-products").html(result);
            }
        });
    </script>
}